apiVersion: v1
kind: Secret
metadata:
  name: sandbox-secrets
type: Opaque
data:
  github-app-client-secret: CHANGEME
  github-app-client-id: CHANGEME
  api-secret: CHANGEME
  session-secret: CHANGEME
